<div class="fondo">
  <div class="operandos">
    <div>
      <button class="btn btn-primary" (click)="captarStrings()">Captar Strings</button>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" (click)="captarNumeros()">Captar Numeros</button>
    </div>
  </div>
  <div class="operaciones">
    <div>
      <button class="btn btn-primary" (click)="operacionesLogicas()">Logicas</button>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" (click)="operacionesAritmeticas()">Aritmeticas</button>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="ejecutar()" >Ejecutar</button>
  </div>
</div>
