.alu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: #ffb552;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10%;
}

.titulo {
  padding-top: 0;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.operandos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
