<main class="main">
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-12">
          <div class="vista">
            <div class="cuadro">
              <div class="cpu">
                <app-alu></app-alu>
                <app-uc></app-uc>
                <app-ir></app-ir>
                <app-mar></app-mar>
                <app-mbr></app-mbr>
                <app-pc></app-pc>
                <app-banco-registros></app-banco-registros>
              </div>
              <div class="bus">
                <app-bus></app-bus>
              </div>
              <div class="memoria">
                <app-memoria></app-memoria>
              </div>
            </div>
            </div>
            <div class="opciones">
              <app-opciones></app-opciones>
            </div>
          </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
